.topMenu {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.2);
  align-items: center;
}

.link {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.list-right {
  display: flex;
  justify-content: space-between;
}

li {
  padding: 15px 0;
  margin-left: 5px;
  cursor: pointer;
}

.list-right button {
  border: none;
  padding: 8px 10px;
  border-radius: 3px;
  cursor: pointer;
}

.success {
  background: #17a589;
  color: #ecf0f1;
}

.primary-green {
  color: #17a589;
}
